.red {
    color: red;
}

body {
    font-size: 18px;
}

.logo1 {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 30%;
    height: auto;
}

.title {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: auto;
}

.nav2 {
    position: fixed;
    border: none;
    top:1%;
    right: 1%;
    border-radius:none;
}


.time {
    position: relative;  
    text-align: center;
    font-size: 100%;
}

button {
    border-radius:0;
    height: 10vw;
    width: 10vw;
    background-color: transparent;
}


#playButton {
    background-color: rgb(199, 234, 199);
    position: absolute;
    border-radius:50%;
    width: 4vw;
    height: 4vw;
    top:27%;
    left: 40%;
}

#stopButton {
    background-color: rgb(199, 234, 199);
    position: absolute;
    border-radius:50%;
    width: 4vw;
    height: 4vw;
    top:27%;
    right: 40%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height:4%;
    font-size:90%;
    background-color: rgb(199, 234, 199);
    color: black;
    text-align: center;
    font-family: fantasy, Helvetica, sans-serif;
}

.gallery {
    position: relative;
    top: 20vh;
    width: 50vw;
    height: auto;
    margin-left:auto;
    margin-right:auto;
  }
  
  #prev {
    background-image: url('../images/left-arrow1.png');
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    position: absolute;
    width: 5vw;
    height: 5vw;
    border: none;
    left: 5%;
    top: 50%;
    transform: translate(0%, -50%);
    /* 其他样式 */
  }
  
  #next {
    background-image: url('../images/right-arrow1.png');
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    position: absolute;
    width: 5vw;
    height: 5vw;
    border: none;
    right: 5%;
    top: 50%;
    transform: translate(0%, -50%);
    /* 其他样式 */
  }
  
#placeholder {
    max-width: 100%;
    height: auto;
  }

.logo-block2 {
    position: fixed;
    left: 0;
    bottom: 4%;
    width: 100%;
    height:4%;
    background-color: rgb(213, 118, 145);
}

.logo2 {
    position: relative;
    left: 50%;
    top:50%;
    width: 8%; 
    transform: translate(-50%, -50%);
    height: auto;
}

@media screen and (max-width: 600px) {
    
    .title-block{
        position: absolute;
        display: block;
        top: 0%;
        width: 100%;
        left:0%;
        height: 10%;
        background-color: rgb(213, 118, 145);
    }

    .title {
        position: absolute;
        top: 50%;
        right: 7vw;
        width: 70%;
        height: auto;
    }

    #playButton{
        width: 15vw;
        height: 15vw;
        position: absolute;
        left: 30%;
    }

    #stopButton{
        width: 15vw;
        height: 15vw;
        position: absolute;
        right: 30%;
    }

    body {
        font-size: 16px;
    }
    .time{
        font-size: 90%;
    }

    .logo-block2 {
        position: fixed;
        left: 0;
        bottom: 4%;
        width: 100%;
        height:4%;
        background-color: rgb(213, 118, 145);
    }
    
    .logo1 {
        width: 0%; 
    }
    
    .logo2 {
        position: relative;
        left: 50%;
        top: 50%;
        width: 20%; 
        transform: translate(-50%, -50%);
        height: auto;
    }

    .gallery {
        position: relative;
        top: 40vh;
        width: 100%;
        height: auto;
        left: 50%;
        transform: translateX(-50%);
    }
    #placeholder {
        position: absolute;
        top: 70%;
        width: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: auto;
    }
    
    #prev {
        background-image: url('../images/left-arrow.png');
        background-color: transparent;
        background-size: 100%;
        background-repeat: no-repeat;
        position: absolute;
        width: 10vw;
        height: 10vw;
        border: none;
        left: 0%;
        top:40vh;
        transform: translate(0%, -100%);
        /* 其他样式 */
    }
    
    #next {
        background-image: url('../images/right-arrow.png');
        background-color: transparent;
        background-size: 100%;
        background-repeat: no-repeat;
        position: absolute;
        width: 10vw;
        height: 10vw;
        border: none;
        right: 0%;
        top: 40vh;
        transform: translate(0%, -100%);
        /* 其他样式 */
    }

}


