.red {
    color: red;
}

body {
    font-size: 18px;
}

button {
    padding: 10px 20px;
}

#playButton, #stopButton {
    display: block;
    font-size: 30px;
    width: 200px;
    height: 100px;
    margin: 10px auto;
}

img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 600px) {
    img {
        width: 100%;
        height: auto;
    }
    body {
        font-size: 16px;
    }

    button {
        padding: 8px 16px;
    }
    #playButton {
        width: 30%;
        height: auto;
    }
    #stopButton {
        width: 30%;
        height: auto;
    }
}

h1, .time {
    text-align: center;
}